<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    {% include "header.html" %}
</head>

<body>
    <!-- Page Header-->
    <header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1694845480758-2c83c3e5a372?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    {% for post in posts: %}
                    <a href="{{ url_for('go_to_post',num=post['id']) }}">
                        <h2 class="post-title">{{post["title"]}}</h2>
                        <h3 class="post-subtitle">{{post["subtitle"]}}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="https://t.me/black2o12">Black 2.o</a>
                        on {{post["date"]}}
                    </p>
                    {% endfor %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />



                {% include "footer.html" %}
</body>

</html>