<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Black 2.o </title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="shortcut icon" href="static/Images/favicon.ico" type="image/x-icon">
</head>

<div class="topContainer">
    <img class="topCloud" src="static/Images/cloud.png" alt="cloud_Image">
    <h1 class="forFontsizeh1">I'm Black</h1>
    <h2 class="forFontsizeh3">a Web Designer</h2>
    <img class="bottomCloud" src="static/Images/cloud.png" alt="cloud_Image">
    <img src="static/Images/mountain.png" alt="mountain_Image">
</div>
<div class="middle-container">
    <div class="profile">
        <img src="static/Images/me.svg" alt="">
        <h2>Hello.</h2>
        <p class="profile_description">I am iOS and web Developer. I am the founder and CTO of The Black 2.o. I love
            Coffee. I also like TEA.</p>
    </div>
    <hr>
    <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
            <img class="computer_image" src="static/Images/computer-modified.png" alt="">
            <h3>Design and Development</h3>
            <p class="com_text">I started to learning code when I was 12 years old because I wanted to make my own video
                games. Over
                time, I have gained a wealth of experience designing and developing mobile and web application. </p>
        </div>
        <div class="skill-row">
            <img class="chillies_image" src="static/Images/chillies.png" alt="">
            <h3>Hot Wings Challenge</h3>
            <p class="chili_text">But my best skill is actually in eatting hot wings. I am the undisputed king of hot
                wings challenges.
                Ghost Peppers and Carolina Reapers are my favourite snacks.</p>
        </div>
    </div>
    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love hot wings as much I do.</h3>
        <p class="contact_msg">love hot wings as much I do? Let's talk about how awesome they are! We can code while we
            eat hot wings! </p>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
    </div>
</div>


<div class="bottom_container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="footer_foot_text">© 2023 <i>Shahidullah</i> @Black 2.o.</p>
</div>


</html>