<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML FORM</title>
</head>

<body>

    <h1>Log In</h1><br>
    <form action="/login" method="post">
        <h3>Name: </h3><input type="text" placeholder="Name" name="username"><br>
        <h3>Password: </h3><input type="text" placeholder="Password" name="password"><br><br><br>
        <button type="submit">Ok</button>
    </form>
</body>

</html>